body{
/*  
    background-image: url("./assets/bg-mobile.jpg");
    background-repeat: no-repeat; permite não repetir a imagem
    background-position:top center; posiciona o conteuno no centro usando o x como referencia
    background-size: cover; preenche a tela com todo o backgound
*/

background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;


}
#conteiner{
    width: 360px;
    border: 1px solid red;
    margin: auto;
}
 #profile { 
    text-align: center ;
 }

#profile img{
    width: 112px;
}