*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
/*  
    background-image: url("./assets/bg-mobile.jpg");
    background-repeat: no-repeat; permite não repetir a imagem
    background-position:top center; posiciona o conteuno no centro usando o x como referencia
    background-size: cover; preenche a tela com todo o backgound
*/

background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#conteiner{
    width: 360px;
    margin: auto;

    margin-top: 56px;
}
 #profile { 
    text-align: center ;
    padding: 24px;
 }

#profile img{
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    font-family: Inter;
    color: aliceblue;
    margin-top: 8px;
}

/*links dos botẽos das istas*/

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a{
    display: flex;
    justify-content: center;
    /*poderia ser tambem 
    display: block
    text-align: center
    para resolver a linha 50 e 51*/
    border: 1px solid red;
    padding: 16px 24px;
    align-items: center;/*alinha os itens ao centro da caixa*/
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.5); 
    backdrop-filter: blur(4px);
    color: aliceblue;/*cor do texto*/
}


footer{
    display: flex;
    justify-content: flex-end;
    margin: 52px;
    color: aliceblue;
}